<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="SDL2" os="windows" target="SDL2.dll"/>
	<dllmap dll="SDL2" os="osx" target="lib/osx/libSDL2-2.0.0.dylib"/>

	<dllmap dll="SDL2" os="linux" cpu="x64" wordsize="64" target="lib/linux/x64/libSDL2-2.0.so.0" />
	<dllmap dll="SDL2" os="linux" cpu="arm64" wordsize="64" target="lib/linux/arm64/libSDL2-2.0.so.0" />
	<dllmap dll="SDL2" os="linux" cpu="armv8" wordsize="64" target="lib/linux/arm64/libSDL2-2.0.so.0" />
	<dllmap dll="SDL2" os="linux" cpu="arm" target="lib/linux/arm/libSDL2-2.0.so.0" />

	<dllmap dll="FNA3D" os="windows" target="FNA3D.dll"/>
	<dllmap dll="FNA3D" os="osx" target="lib/osx/libFNA3D.0.dylib"/>
	
	<dllmap dll="FNA3D" os="linux" cpu="x64" wordsize="64" target="lib/linux/x64/libFNA3D.so.0" />
	<dllmap dll="FNA3D" os="linux" cpu="arm64" wordsize="64" target="lib/linux/arm64/libFNA3D.so.0" />
	<dllmap dll="FNA3D" os="linux" cpu="armv8" wordsize="64" target="lib/linux/arm64/libFNA3D.so.0" />
	<dllmap dll="FNA3D" os="linux" cpu="arm" target="lib/linux/arm/libFNA3D.so.0" />
</configuration>
